.main-img {
    width: 100%;
    height: 400px;
}

.search {
    position: relative;
}

.logo {
    position: relative;
}

.logo img {
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -150%);
}

.input-button {
    position: absolute;
    display: flex;
    gap: 24px;
    left: 50%;
    transform: translate(-50%, -170%);
    z-index: 5;
}

.search-input {
    outline: none;
    border: none;
    padding: 10px;
}

.MuiImageListItemBar-title {
    text-align: left;
}